
.App {display: flex; justify-content: center;}
.App .con-wrap {margin: 100px 0;}
.App .page-title {margin-bottom: 50px; font-size: 20px; text-align: center; font-weight: bold;}
.App .btn-area {display: flex; justify-content: center; margin-top: 50px;}
.App .btn-area .start-btn {margin-bottom: 50px; font-size: 20px; text-align: center; font-weight: bold;}